*.iml
.gradle
/local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml

.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/misc.xml
.idea/deploymentTargetDropDown.xml
.idea/codeStyles/Project.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/code-comments.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/vcs.xml
.idea/render.experimental.xml
