<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.lysaan.malik.vsptracker">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:appComponentFactory="whateverString"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:screenOrientation="landscape"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar"
            tools:replace="android:appComponentFactory">
        <activity android:name=".activities.excavator.ELocation1Activity">
        </activity>
        <activity android:name=".activities.excavator.EHome1Activity">
        </activity>
        <activity android:name=".activities.truck.TUnloadAfterActivity">
        </activity>
        <activity android:name=".activities.truck.TUnloadActivity">
        </activity>
        <activity android:name=".activities.truck.TLoadActivity">
        </activity>
        <activity android:name=".activities.truck.THomeActivity">
        </activity>
        <activity android:name=".activities.HourMeterStartActivity">
        </activity>
        <activity android:name=".activities.HourMeterStopActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->
            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activities.scrapper.SUnloadAfterActivity">
        </activity>
        <activity android:name=".activities.MachineStatusActivity">
        </activity>
        <activity android:name=".activities.scrapper.SUnloadActivity">
        </activity>
        <activity android:name=".activities.scrapper.SLoadActivity">
        </activity>
        <activity android:name=".activities.scrapper.SHomeActivity">
        </activity>
        <activity android:name=".activities.MachineTypeActivity">
        </activity>
        <activity android:name=".activities.excavator.LoadUnloadActivity">
        </activity>
        <activity android:name=".activities.notused.FinishActivity">
        </activity>
        <activity android:name=".activities.excavator.ELoadTruckActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->
            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.excavator.EHomeActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->
            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
                android:name=".BaseActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>